.input_panel{
    margin: auto;
    width: 20%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: darkslateblue;
    border: 7px double white;
    border-radius: 8px;
    
}
.input_panel span{
    color: white;
    font-size: 22px;
}